@page "/data/colour/details/{ColourId:int}"

@using PersonManagerUI.Components
@inherits ColourBasePageClass

@if (Colour == null)
{
    <p>Loading...</p>
    return;
}

<PageTitle>View @Colour.ColourName</PageTitle>

<ColourDetails Colour="Colour" ShowColourName="true" />

<a class="btn btn-primary" href="data/colour/edit/@Colour.ColourId">Edit</a>
<a class="btn btn-danger" href="data/colour/delete/@Colour.ColourId">Delete</a>
<a href="data/colours/index">Index</a>
