@page "/data/colour/details/{ColourId:int}"

@using PersonManagerUI.Components

@if (colour == null)
{
    <p>Loading...</p>
    return;
}

<ColourDetails Colour="colour" ShowColourName="true" />

<a class="btn btn-primary" href="data/colour/edit/@colour.ColourId">Edit</a>
<a class="btn btn-danger" href="data/colour/delete/@colour.ColourId">Delete</a>
<a href="data/colours/index">Index</a>
