@page "/data/address/edit/{AddressId:int}"
@using PersonManagerUI.Shared.CustomControls
@inherits AddressBasePageClass

<PageTitle>Edit Address</PageTitle>

<EditForm Model="@DisplayAddress" OnValidSubmit="@UpdateAddress">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>Address Line 1</strong></td>
                <td><InputText id="addressLine1" @bind-Value="DisplayAddress.AddressLine1" /></td>
            </tr>
            <tr>
                <td><strong>Address Line 1</strong></td>
                <td><InputText id="addressLine2" @bind-Value="DisplayAddress.AddressLine2" /></td>
            </tr>
            <tr>
                <td><strong>Address Line 1</strong></td>
                <td><InputText id="town" @bind-Value="DisplayAddress.Town" /></td>
            </tr>
            <tr>
                <td><strong>Address Line 1</strong></td>
                <td><InputText id="postcode" @bind-Value="DisplayAddress.Postcode" /></td>
            </tr>
            <tr>
                <td><strong>Address Type</strong></td>
                <td>
                    <InputSelectNumber id="addressType" @bind-Value="DisplayAddress.AddressTypeId">
                        @foreach (var addressType in AddressTypes)
                        {
                            <option value="@addressType.AddressTypeId">@addressType.AddressTypeName</option>
                        }
                    </InputSelectNumber>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" type="submit">Update</button> | <a href="/data/addresses/index/@PersonId">Cancel</a>

</EditForm>
