@page "/data/country/create"

<h1>Create Country</h1>

<EditForm Model="@newCountry" OnValidSubmit="@InsertCountry">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>Country Name</strong></td>
                <td><InputText id="countryName" @bind-Value="newCountry.CountryName" /></td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Submit</button> <a href="/data/countries/index">Cancel</a>

</EditForm>
