@page "/data/country/delete/{CountryId:int}"

@using DataAccessLibrary.Interfaces
@using DataAccessLibrary.Models
@using PersonManagerUI.Components

@inject ICountryData _countryDb
@inject NavigationManager _navigationManager

<h1>Delete</h1>

@if (OkToDelete)
{
    <h4 style="color: red">Are you sure you want to delete this country?</h4>
}
else
{
    <h4 style="color: red">Cannot delete country when people have it as their location</h4>
}

<CountryDetails Country="country" />

@if (OkToDelete)
{
    <button class="btn btn-danger" @onclick="DeleteCountry">Delete</button>
}
<a href="data/countries/index/">Cancel</a>

@code {

    [Parameter]
    public int CountryId { get; set; }

    private CountryModel country = new CountryModel();

    private bool OkToDelete = true;

    protected override void OnInitialized()
    {
        country = _countryDb.GetCountry(CountryId);

        if (country.People.Count > 0)
        {
            OkToDelete = false;
        }
    }

    private void DeleteCountry()
    {
        _countryDb.DeleteCountry(CountryId);

        _navigationManager.NavigateTo("data/countries/index");
    }

}
