@page "/data/country/details/{CountryId:int}"

@using PersonManagerUI.Components

@if (country == null)
{
    <p>Loading...</p>
    return;
}

<PageTitle>View @country.CountryName</PageTitle>

<CountryDetails Country="country" ShowCountryName="true" />
<a class="btn btn-primary" href="data/country/edit/@country.CountryId">Edit</a>
<a class="btn btn-danger" href="data/country/delete/@country.CountryId">Delete</a>
<a href="data/countries/index">Index</a>
