@page "/data/country/edit/{CountryId:int}"

<PageTitle>Edit @country.CountryName</PageTitle>

<h1>Edit @CountryDisplayName</h1>

<EditForm Model="@country" OnValidSubmit="@UpdateCountry">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>Country Name</strong></td>
                <td><InputText id="firstName" @bind-Value="country.CountryName" /></td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Update</button> | <a href="/data/countries/index">Cancel</a>

</EditForm>