@using DataAccessLibrary.Models
@using DataAccessLibrary.Interfaces
@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject ISavedUrlData _savedUrlDb;

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a class="btn btn-info" @onclick="SaveUrl" style="cursor: pointer">Save Page</a>&nbsp;|
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {

    private void SaveUrl()
    {
        var savedUrl = new SavedUrlModel
        {
            Title = "Saved Page",
            Url = _navigationManager.Uri,
            Notes = "Saved from application",
            IsExternal = false
        };

        _savedUrlDb.InsertSavedUrl(savedUrl);
    }

}
