<div class="top-row pl-4 navbar navbar-dark">
    
</div>

<MudNavMenu>
    <MudNavLink Href="">Home</MudNavLink>
    <MudNavLink Href="data/people/index">People</MudNavLink>
    <MudNavGroup Title="My Person Manager" Expanded="false">
        <MudNavLink Href="data/mypersonmanager/savedurls/index">Saved Urls</MudNavLink>
        <MudNavLink Href="data/mypersonmanager/reminders/index">Reminders</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Manage" Expanded="false">
        <MudNavLink Href="data/countries/index">Countries</MudNavLink>
        <MudNavLink Href="data/colours/index">Colours</MudNavLink>
        <MudNavLink Href="data/addresstypes/index">Address Types</MudNavLink>
    </MudNavGroup>
</MudNavMenu>
