@page "/data/person/details/{PersonId:int}"
@inherits PersonBasePageClass

<PageTitle>View @Person.FirstName @Person.LastName</PageTitle>

<br />

<PersonDetails Person="Person" ShowPersonName="true" />

<a class="btn btn-primary" href="data/person/edit/@Person.PersonId">Edit</a> 
<a class="btn btn-danger" href="data/person/delete/@Person.PersonId">Delete</a>
<a href="data/people/index">Index</a>
