@page "/data/person/details/{PersonId:int}"

@inherits DetailsBase

@using PersonManagerUI.Components

<PersonDetails Person="person" ShowPersonName="true" />

<a class="btn btn-primary" href="data/person/edit/@person.PersonId">Edit</a> 
<a class="btn btn-danger" href="data/person/delete/@person.PersonId">Delete</a>
<a href="data/people/index">Index</a>
