@page "/data/mypersonmanager/savedurl/details/{UrlId:int}"

<PageTitle>View @savedUrl.Title</PageTitle>

@using PersonManagerUI.Components

<SavedUrlDetails SavedUrl="savedUrl" />

<a class="btn btn-primary" href="data/mypersonmanager/savedurl/edit/@savedUrl.UrlId">Edit</a>
<a class="btn btn-danger" href="data/mypersonmanager/savedurl/delete/@savedUrl.UrlId">Delete</a>
<a href="data/mypersonmanager/savedurls/index">Index</a>