@page "/data/mypersonmanager/savedurl/edit/{UrlId:int}"

<h3>Edit Saved Url @savedUrl.Title</h3>

<EditForm Model="@savedUrl" OnValidSubmit="@UpdateSavedUrl">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>Title</strong></td>
                <td><InputText id="title" @bind-Value="savedUrl.Title" /></td>
            </tr>
            <tr>
                <td><strong>Url</strong></td>
                <td><InputText id="url" @bind-Value="savedUrl.Url" /></td>
            </tr>
            <tr>
                <td><strong>Notes</strong></td>
                <td><InputTextArea id="notes" @bind-Value="savedUrl.Notes" /></td>
            </tr>
            <tr>
                <td><strong>Is External</strong></td>
                <td><InputCheckbox id="isExternal" @bind-Value="savedUrl.IsExternal" /></td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Update</button> | <a href="/data/mypersonmanager/savedurls/index">Cancel</a>

</EditForm>
