@page "/data/person/details/{PersonId:int}"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using PersonManagerUI.Components

@inject IPeopleData _db

<PersonDetails Person="person" ShowPersonName="true" />

<a class="btn btn-primary" href="data/person/edit/@person.PersonId">Edit</a> |
<a class="btn btn-danger" href="data/person/delete/@person.PersonId">Delete</a> |
<a href="data/people/index">Index</a>

@code {

    [Parameter]
    public int PersonId { get; set; }

    private PersonModel person = new PersonModel();

    protected override async Task OnInitializedAsync()
    {
        person = await _db.GetPerson(PersonId);
    }

}
