@page "/data/addresstype/create"
@inherits AddressTypeBasePageClass

<PageTitle>Create Address Type</PageTitle>

@if (AddressTypeAlreadyExists)
{
    <h4 style="color: red">An address type with this name already exists</h4>
}

<br />

<EditForm Model="@DisplayAddressType" OnValidSubmit="@InsertAddressType">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>Address Type Name</strong></td>
                <td><InputText id="addressTypeName" @bind-Value="DisplayAddressType.AddressTypeName" /></td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Submit</button> <a href="/data/addresstypes/index">Cancel</a>

</EditForm>
