@page "/data/address/create/{PersonId:int}"

@using PersonManagerUI.CustomControls

<h1>Create Address</h1>

<EditForm Model="@newAddress" OnValidSubmit="@InsertAddress">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>Address Line 1</strong></td>
                <td><InputText id="addressLine1" @bind-Value="newAddress.AddressLine1" /></td>
            </tr>
            <tr>
                <td><strong>Address Line 2</strong></td>
                <td><InputText id="addressLine2" @bind-Value="newAddress.AddressLine2" /></td>
            </tr>
            <tr>
                <td><strong>Town</strong></td>
                <td><InputText id="town" @bind-Value="newAddress.Town" /></td>
            </tr>
            <tr>
                <td><strong>Postcode</strong></td>
                <td><InputText id="postcode" @bind-Value="newAddress.Postcode" /></td>
            </tr>
            <tr>
                <td><strong>Address Type</strong></td>
                <td>
                    <InputSelectNumber id="addressType" @bind-Value="newAddress.AddressTypeId">
                        @foreach (var addressType in AddressTypes)
                        {
                            <option value="@addressType.AddressTypeId">@addressType.AddressTypeName</option>
                        }
                    </InputSelectNumber>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Submit</button> <a href="/data/person/details/@PersonId">Cancel</a>

</EditForm>
