@page "/data/address/create/{PersonId:int}"
@using DataAccessLibrary.Interfaces
@using DataAccessLibrary.Models
@using PersonManagerUI.Models
@using PersonManagerUI.CustomControls

@inject IPersonData _personDb
@inject IAddressData _addressDb
@inject IAddressTypeData _addressTypeDb
@inject NavigationManager _navigationManager

<h1>Create Address</h1>

<EditForm Model="@newAddress" OnValidSubmit="@InsertAddress">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>Address Line 1</strong></td>
                <td><InputText id="addressLine1" @bind-Value="newAddress.AddressLine1" /></td>
            </tr>
            <tr>
                <td><strong>Address Line 2</strong></td>
                <td><InputText id="addressLine2" @bind-Value="newAddress.AddressLine2" /></td>
            </tr>
            <tr>
                <td><strong>Town</strong></td>
                <td><InputText id="town" @bind-Value="newAddress.Town" /></td>
            </tr>
            <tr>
                <td><strong>Postcode</strong></td>
                <td><InputText id="postcode" @bind-Value="newAddress.Postcode" /></td>
            </tr>
            <tr>
                <td><strong>Address Type</strong></td>
                <td>
                    <InputSelectNumber id="addressType" @bind-Value="newAddress.AddressTypeId">
                        @foreach (var addressType in AddressTypes)
                        {
                            <option value="@addressType.AddressTypeId">@addressType.AddressTypeName</option>
                        }
                    </InputSelectNumber>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Submit</button> <a href="/data/people/details/@PersonId">Cancel</a>

</EditForm>

@code {

    [Parameter]
    public int PersonId { get; set; }

    private List<AddressTypeModel> AddressTypes { get; set; }

    private DisplayAddressModel newAddress = new DisplayAddressModel();

    protected override void OnInitialized()
    {
        newAddress.AddressTypeId = -1;

        AddressTypes = _addressTypeDb.GetAddressTypes()
            .ToList();
        AddressTypes.Insert(0, new AddressTypeModel
        {
            AddressTypeId = -1,
            AddressTypeName = "Please select"
        });
    }

    private void InsertAddress()
    {
        var a = new AddressModel
        {
            AddressLine1 = newAddress.AddressLine1,
            AddressLine2 = newAddress.AddressLine2,
            Town = newAddress.Town,
            Postcode = newAddress.Postcode,
            AddressTypeId = newAddress.AddressTypeId,
            PersonId = PersonId
        };

        _addressDb.InsertAddress(a);

        _navigationManager.NavigateTo($"/data/person/details/{PersonId}");
    }
}
