@page "/data/colour/delete/{ColourId:int}"
@inherits ColourBasePageClass

@if (Colour == null)
{
    <p>Loading...</p>
    return;
}

<PageTitle>Delete @Colour.ColourName</PageTitle>

@if (OkToDelete)
{
    <h4 style="color: red">Are you sure you want to delete this colour?</h4>
}
else
{
    <h4 style="color: red">Cannot delete colour when people have it as their favourite</h4>
}

<ColourDetails Colour="Colour" />

@if (OkToDelete)
{
    <button class="btn btn-danger" @onclick="DeleteColour">Delete</button>
}
<a href="data/colours/index/">Cancel</a>
