@page "/data/colour/edit/{ColourId:int}"

@inherits ColourBasePageClass

<PageTitle>Edit @Colour.ColourName</PageTitle>

<h1>Edit @ColourDisplayName</h1>

<EditForm Model="@Colour" OnValidSubmit="@UpdateColour">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table table-striped">
        <tbody>
        <tr>
            <td><strong>Country Name</strong></td>
            <td><InputText id="colourName" @bind-Value="Colour.ColourName" /></td>
        </tr>
        </tbody>
    </table>

</EditForm>

<button class="btn btn-primary" @onclick="UpdateColour">Update</button> | <a href="/data/colours/index">Cancel</a>