@page "/data/mypersonmanager/savedurl/details/{UrlId:int}"
@inherits SavedUrlBasePageClass
@using PersonManagerUI.Shared.Components

@if (SavedUrl == null)
{
    return;
}

<PageTitle>View @SavedUrl.Title</PageTitle>

<SavedUrlDetails SavedUrl="SavedUrl" />

<a class="btn btn-primary" href="data/mypersonmanager/savedurl/edit/@SavedUrl.UrlId">Edit</a>
<a class="btn btn-danger" href="data/mypersonmanager/savedurl/delete/@SavedUrl.UrlId">Delete</a>
<a href="data/mypersonmanager/savedurls/index">Index</a>