@page "/data/mypersonmanager/savedurl/edit/{UrlId:int}"
@inherits SavedUrlBasePageClass

<PageTitle>Edit @DisplaySavedUrl.Title</PageTitle>

<h3>Edit Saved Url @DisplaySavedUrl.Title</h3>

<EditForm Model="@DisplaySavedUrl" OnValidSubmit="@UpdateSavedUrl">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>Title</strong></td>
                <td><InputText id="title" @bind-Value="DisplaySavedUrl.Title" /></td>
            </tr>
            <tr>
                <td><strong>Url</strong></td>
                <td><InputText id="url" @bind-Value="DisplaySavedUrl.Url" /></td>
            </tr>
            <tr>
                <td><strong>Notes</strong></td>
                <td><InputTextArea id="notes" @bind-Value="DisplaySavedUrl.Notes" /></td>
            </tr>
            <tr>
                <td><strong>Is External</strong></td>
                <td><InputCheckbox id="isExternal" @bind-Value="DisplaySavedUrl.IsExternal" /></td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Update</button> | <a href="/data/mypersonmanager/savedurls/index">Cancel</a>

</EditForm>
