@page "/"

@using PersonManagerUI.Components
@using DataAccessLibrary.Models
@using DataAccessLibrary.Interfaces

@inject IReminderData _reminderDb;

<h1>Person Manager</h1>

<p>Welcome to your new Person Management app.</p>

<p><a href="/data/people/index">Click here to get started</a></p>

<hr/>

<ReminderGrid ShowAllReminders="false" Reminders="reminders" />

@code
{
    private List<ReminderModel> reminders;

    protected override void OnInitialized()
    {
        reminders = _reminderDb.GetReminders()
            .Where(r =>
                r.ReminderDate <= DateTime.Now &&
                r.IsCurrent)
            .ToList();
    }
}
