@page "/"

@using PersonManagerUI.Components;


<h1>Person Manager</h1>

<p>Welcome to your new Person Management app.</p>

<p><a href="/data/people/index">Click here to get started</a></p>

<hr/>

<ReminderGrid ShowAllReminders="false" Reminders="reminders" />
