@page "/data/mypersonmanager/reminder/details/{ReminderId:int}"

@inherits ReminderBasePageClass

<PageTitle>View @Reminder.Title</PageTitle>

<ReminderDetails Reminder="Reminder" />

<a class="btn btn-primary" href="data/mypersonmanager/reminder/edit/@Reminder.ReminderId">Edit</a>
<a class="btn btn-danger" href="data/mypersonmanager/reminder/delete/@Reminder.ReminderId">Delete</a>
<a href="data/mypersonmanager/reminders/index">Index</a>