@page "/data/country/details/{CountryId:int}"
@inherits CountryBasePageClass
@using PersonManagerUI.Shared.Components

@if (Country == null)
{
    <p>Loading...</p>
    return;
}

<PageTitle>View @Country.CountryName</PageTitle>

<CountryDetails Country="Country" ShowCountryName="true" />

<a class="btn btn-primary" href="data/country/edit/@Country.CountryId">Edit</a>
<a class="btn btn-danger" href="data/country/delete/@Country.CountryId">Delete</a>
<a href="data/countries/index">Index</a>
