@page "/data/addresstype/edit/{AddressTypeId:int}"

<h3>Edit @AddressTypeDisplayName</h3>

<EditForm Model="@addressType" OnValidSubmit="@UpdateAddressType">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>Country Name</strong></td>
                <td><InputText id="colourName" @bind-Value="addressType.AddressTypeName" /></td>
            </tr>
        </tbody>
    </table>
</EditForm>

<button class="btn btn-primary" @onclick="UpdateAddressType">Update</button> | <a href="/data/addresstypes/index">Cancel</a>
